<%- include('partials/header') %>

<h1><%= food.name %></h1>
<p><strong>Description:</strong> <%= food.description %></p>
<p><strong>Calories:</strong> <%= food.calories %></p>

<a href="/foods/<%= food._id %>/edit">Edit</a> |
<a href="/foods">Back to list</a>
